@namespace DartsScoreboard
@page "/PlayerStatistics/{playerId:int}"

<MudButton Variant="Variant.Filled" Color="Color.Error" Style="margin-left: 20px; margin-top: 10px;" OnClick="GoBack">Back</MudButton>
<MudText Typo="Typo.h4" Class="m-4">Player stats</MudText>

@if (Player == null)
{
	<p>Loading player...</p>
}
else
{
	<MudCard Class="m-4 pa-4 my-3">
		<MudCardContent>
			<MudText Typo="Typo.h4">@Player.Name</MudText>

			<MudText><strong>Checkout Percentage:</strong> @TotalCheckoutPercentage.ToString("F2")%</MudText>
			<MudText><strong>Three Dart Average:</strong> @TotalThreeDartAverage.ToString("F2")</MudText>
			<MudText><strong>Darts Per Leg:</strong> @TotalDartsPerLeg.ToString("F2")</MudText>
			<MudText><strong>Best 3-Dart Leg Average:</strong> @BestThreeDartLegAverage.ToString("F2")</MudText>

		</MudCardContent>
	</MudCard>
	<MudPaper Class="m-4 doc-section-component-container"
			  Style="display: flex; flex-direction: column; align-items: center;">

		<MudToggleGroup T="string"
						SelectionMode="SelectionMode.SingleSelection"
						Value="_startingScoreValue"
						ValueChanged="OnScoreChanged"
						Color="Color.Primary"
						CheckMark
						FixedContent
						Class="m-4">
			<MudToggleItem Value=@("301") Text="301" />
			<MudToggleItem Value=@("501") Text="501" />
			<MudToggleItem Value=@("701") Text="701" />
		</MudToggleGroup>

		<MudChart ChartType="ChartType.Line"
				  ChartSeries="@ChartData"
				  @bind-SelectedIndex="_index"
				  XAxisLabels="@ChartLabels"
				  ChartOptions="@_options"
				  AxisChartOptions="_axisChartOptions"
				  Style="margin-left: 90px; max-width: 100%" />
	</MudPaper>

	@if (Player.GameHistory != null && Player.GameHistory.Any())
	{
		<MudText Typo="Typo.h4" Class="m-4">Game history</MudText>

		<MudStack class="m-4">
			<MudToggleGroup T="string" SelectionMode="SelectionMode.SingleSelection" Value="_daysValue" ValueChanged="OnDateChanged" Color="Color.Primary" CheckMark FixedContent>
				<MudToggleItem Value="@("7")" Text="7 days" />
				<MudToggleItem Value="@("30")" Text="30 days" />
				<MudToggleItem Value="@("90")" Text="90 days" />
				<MudToggleItem Value="@("365")" Text="1 year" />
				<MudToggleItem Value="@("allTime")" Text="All Time" />
			</MudToggleGroup>
		</MudStack>

		<table class="table table-striped" style="margin-left: 20px; margin-right: 20px;max-width: 95%;">
			<thead>
				<tr>
					<th>Date</th>
					<th>Starting Score</th>
					<th>3-Dart Avg</th>
					<th>Checkout %</th>
					<th>Total Darts</th>
					<th>Total Doubles</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var game in Player.GameHistory.OrderByDescending(g => g.Timestamp).Take(5))
				{
					<tr>
						<td>@game.Timestamp.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</td>
						<td>@game.GameStartingScore</td>
						<td>@game.OldThreeDartAverage.ToString("F2")</td>
						<td>@game.OldCheckoutPercentage.ToString("F2")%</td>
						<td>@game.OldTotalDartsThrown</td>
						<td>@game.OldNumOfDoublesThrown</td>
					</tr>
				}
			</tbody>
		</table>
		<MudButton OnClick="AllGamesPage" class="m-4" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.Ballot" Color="Color.Info" Size="Size.Small">All games</MudButton>
	}
	else
	{
		<p>No previous games found.</p>
	}
}
